<% provide(:title, 'Aerial Silk & Hoop') %>
<% provide(:dd_group, 'Classes') %>

<div class="container">
	<h4>Aerial Silk & Hoop with Lara Saluja</h4>
	<h5 class="mb-0 font-italic">Description</h5>
	<p class="GeneralText"> An aerial practice using the ceiling-hanging apparatus, such as silk, hoop and rope to teach strength and grace.
   You will learn techniques to climb and transition between hanging postures to create seamless sequences.
   Your conditioning and flexibility will improve while you play mid-air.
   <br><br>
   
   <strong>Aerial Silk</strong> | <em>Tuesday & Saturday:</em><br>
   <strong>Aerial Hoop</strong> | <em>Thursday</em><br><br>
	
   This class is also available for personal training for individuals and groups of 3 at your desired time and day.
   You can choose between Aerial Silk and Aerial Hoop or choose to relax with a session of Antigravity Yoga where you will perform traditional yoga asanas supported by the silk.</p>
   
   <table class="ClassTickTable">
    <thead>
      <tr>
        <th class="pr-3">Fat-burn</th>
        <th>Muscle & Tone</th>
		<th>Flexibility</th>
		<th class="pr-3">Core</th>
		<th>Low-Impact</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td>&#x2713; <span style="color: white;font-weight: normal;"> &#x2713; &#x2713;</span></td>
        <td>&#x2713; &#x2713; &#x2713;</td>
		<td>&#x2713; &#x2713; &#x2713;</td>
		<td>&#x2713; &#x2713; &#x2713;</td>
		<td>&#x2713; &#x2713;<span style="color: white;font-weight: normal;"> &#x2713;</span></td>
      </tr>
    </tbody>
  </table>
  
  <h5 class="mb-0 font-italic">Suitability</h5>
   <p class="GeneralText">Beginner level. Suitable for men and women of all body types over the age of 16. Please do not wear any jewellery and do dress in tight, full length clothing.</p>
  </div>
  
  <div class="container">
  <div class="row">
  <div class="col-md-6">

  <%= image_tag("Aerial.jpg", alt: "Aerial Silk demo", class:"ClassPhoto") %>
  </div>
  <div class="col-md-6 mt-3 mt-md-0">
  <table class="ScheduleTable">
      <tr>
        <th></th>
        <th>Morning</th>
        <th>Evening</th>
      </tr>
      <tr>
        <th>Monday</th>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr> 
        <th>Tuesday</th>
        <td>-</td>
        <td>7.00 - 8.00</td>
      </tr>
	  <tr>
      <th>Wednesday</th>
      <td>-</td>
      <td>-</td>
      </tr>
      <tr>
        <th>Thursday</th>
        <td>-</td>
        <td>7.00 - 8.00</td>
      </tr>
      <tr>
        <th>Friday</th>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Saturday</th>
        <td>-</td>
        <td>5.00 - 6.15</td>
      </tr>
      <tr>
        <th>Sunday</th>
        <td>-</td>
        <td>-</td>
      </tr>
    </table>
	
	<p class="GeneralText"><br>Lara regularly conducts skill-based aerial workshops.<br>
	<a class="btn btn-info btn-generaltext" href="https://goo.gl/forms/CixHLOuLOXXJx8Bj1" target="_blank" class="Button">Click to subscribe for updates</a></p>
  
  </div>
  </div>
  </div>
  <br>
  
  <div class="container">
  <h5 class="mb-0 font-italic">Charges</h5>
    <p class="GeneralText">
		
		<i>Package Options:</i><br>
		4 classes / 4 week validity: Rs.3,600 (Rs.900 per class)<br>
		8 classes / 4 week validity: Rs.6,200 (Rs.775 per class)<br>
		Packages cannot be extended if not used during the period of validity<br><br>
		
		<i>Drop In</i>: Rs.1,100 (subject to availability)<br><br>
		
		<i>Personal 1 to 1 Training:</i><br>
		1 session of 1 hour: Rs.2,000 + studio fee<br>
		2 sessions of 1 hour:  Rs.3,500  + studio fee<br>
	</p>
  </div>

