<% provide(:title, "Ashtanga Yoga") %>
<head>
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>


<div class="container">
	<h4>Ashtanga Yoga with Amrita Yennemadi</h4>
	<h5 class="mb-0 font-italic">Description</h5>
	<p class="GeneralText">Ashtanga is a traditional, yet athletic stem of yoga combining strength, flexibility and stamina through the practice. One of the widest practised styles worldwide,
   Ashtanga classes follow specific sequence of postures (asanas) linking breath (pranayama) and movement (vinyasa).<br><br>
   Amrita focuses on postures, breath, points of concentration, internal locks and the philosophy of yoga.
   Expect hands on adjustments, personalised guidance with attention to special needs.<br><br>
   
    Tuesday & Thursday - Asana drills from the Ashtanga Primary Series<br>
    Saturday - Primary Series led class OR Asana practice 
	</p>
   
   <table class="ClassTickTable">
    <thead>
      <tr>
        <th class="pr-3">Fat-burn</th>
        <th>Muscle & Tone</th>
		<th>Flexibility</th>
		<th class="pr-3">Core</th>
		<th>Low-Impact</th>
      </tr>
    </thead>
    <tbody>
    <tr> 
		<td>&#x2713; <span style="color: white;font-weight: normal;"> &#x2713; &#x2713;</span></td>
		<td>&#x2713; &#x2713;<span style="color: white;font-weight: normal;"> &#x2713;</span></td>
		<td>&#x2713; &#x2713; &#x2713;</td>
		<td>&#x2713; &#x2713;<span style="color: white;font-weight: normal;"> &#x2713;</span></td>
		<td>&#x2713; &#x2713;<span style="color: white;font-weight: normal;"> &#x2713;</span></td>
    </tr>
    </tbody>
  </table>
  
  <h5 class="mb-0 font-italic">Suitability</h5>
   <p class="GeneralText">Suitable for beginner and intermediate practitioners alike.</p>
  </div>
  
  <div class="container">
  <div class="row">
  
	  <div class="col-md-6">
  <%= image_tag("Ashtanga.jpg", alt: "Amrita in practice", class:"ClassPhoto") %>
	  </div>
	  
	  <div class="col-md-6 mt-3 mt-md-0">
	  <table class="ScheduleTable">
		<tbody>
		  <tr>
			<th></th>
			<th>Morning</th>
			<th>Evening</th>
		  </tr>
		  <tr>
			<th>Monday</th>
			<td>-</td>
			<td>-</td>
		  </tr>
		  <tr> 
			<th>Tuesday</th>
			<td>7.00-8.00 | 8.15-9.15</td>
			<td>-</td>
		  </tr>
		  <tr>
		  <th>Wednesday</th>
		    <td>-</td>
		    <td>-</td>
		  </tr>
		  <tr>
			<th>Thursday</th>
			<td>7.00-8.00 | 8.15-9.15</td>
			<td>-</td>
		  </tr>
		  <tr>
			<th>Friday</th>
			<td>-</td>
			<td>-</td>
		  </tr>
		  <tr>
			<th>Saturday</th>
			<td>8.00-9.15</td>
			<td>-</td>
		  </tr>
		  <tr>
			<th>Sunday</th>
			<td>-</td>
			<td>-</td>
		  </tr>
		</tbody>	
	  </table>
	  </div>
	  
  </div>
  </div>
  <br>
  
  <div class="container">
	<h5 class="mb-0 font-italic">Charges</h5>
    <p class="GeneralText">
<!--		<i>Trial Class:</i> 1 free trial per person (not available at 7am)<br><br>-->
		<i>Package Options:</i><br>
		12 classes / 1 month validity: Rs.4,500 (Rs 375 per class)<br>
		24 classes / 2 months validity: Rs.8,400 (Rs 350 per class)<br>
		36 classes / 3 months validity: Rs.11,700 (Rs 325 per class)<br><br>
		
		<i>Drop In</i>: Rs.600 per class (subject to availability)<br>
		Due to high demand, drop-in option currently only available at 8.15 class on Tuesday and Thursday
		
<!--			Be sure to book in advance as this class is currently running full.-->
	</p>
  </div>


