    <div class="container">

      <ul class="SocMedFoot">
        <li>
          <%= link_to image_tag("Insta.png", alt: "Instagram logo"),
          'https://www.instagram.com/thespace.juhu/', target: "_blank" %>  
        </li>
        <li>
          <%= link_to image_tag("Face.png", alt: "Facebook logo"),
          'https://www.facebook.com/TheSpace.Mumbai/timeline', target: "_blank" %>  
        </li>
        <li>
          <%= link_to image_tag("Twit.png", alt: "Twitter logo"),
          'https://twitter.com/thespacejuhu', target: "_blank" %>  
        </li>
      </ul>
    
    </div>